

video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(first-pic.png) no-repeat;
  background-size: cover;
}

video { display: block; }

.nav-area{
  //background: rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.4);
  width: 15%;
  position: fixed;
  border-radius: 2px;
  min-width: 260px;
  font-family: Alegreya, serif;
  //overflow-x: hidden;
  transition: 0.5s;
  top: 15px;
  left: 0;
  z-index: 2;
  //width: 0;
  //right: 0;

  .menu-area{
    list-style: none;
    margin: 20px 0;
    flex-wrap: wrap;

    li{
      padding: 20px;

      a{
        text-decoration: none;
        color: white;
        padding: 5px 25px;
        letter-spacing: 3px;
        font-size: 20px;

      }
    }

  }
}

.menu-area li.active a{
  color: peachpuff;
}

.menu-area a:hover{
  color: peachpuff;
}

.icon{
  position: fixed;
  margin: 15px 25px;
  font-size: 30px;
  z-index: 2;
  cursor: pointer;
  color: white;
}

.banner-text{
  position: absolute;
  top: 75%;
  text-align: center;
  left: 35%;
  font-family: Alegreya, serif;

  h2{
    color: white;
    font-size: 60px;
    margin: 0;

    span{
      color: peachpuff;
    }
  }
}